.upper-nav {
  background-color: #fff;
  display: flex;
  height: 40px;
  justify-content: space-between;
  padding: 0 3rem;
}

.hover_effect {
  display: inline-block;
  position: relative;
  margin-left: 1rem;
  z-index: 2;
  text-decoration: none;
  color: #333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  font-size: 12px;
  font-weight: 400;
}

.hover_effect:after {
  content: "";
  height: 3px;
  left: 0;
  top: 0;
  width: 1px;
  position: absolute;
  right: 0;
  margin: -10px auto;
  transition: width 0.3s ease;
}

.hover_effect:hover {
  color: #000;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
  transition: color 1s ease;
  cursor: pointer;
}

.hover_effect:hover:after,
.hover_effect:focus:after {
  width: 100%;
  background-color: #003366;
}

.hover_effect.active:after,
.hover_effect.active:focus:after {
  width: 100%;
  background-color: #ff0000;
}
.hover_effect.active {
  font-weight: 600;
}

.upper-li ul {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

.upper-search ul {
  display: flex;
  list-style: none;
}
.upper-search ul li {
  display: flex;
  font-size: 12px;
  margin-left: 1rem;
  font-weight: 400;
  cursor: pointer;
  color: #333;
  align-items: center;
}
.upper-search ul li i {
  font-size: 18px;
  color: #333;
  padding: 9px;
}

nav {
  background: #ff0000;
  height: 62px;
  width: 100%;
  padding-left: 2rem;
  display: flex;
  align-items: center;
}

.logo img {
  width: 100%;
  height: auto;
}
.nav-icon {
  display: none;
}
.nav-right {
  background-color: #003366;
  height: 62px;
  width: 23%;
  margin-left: auto;
}
.nav-btn {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.nav-btn img {
  width: 2rem;
  margin-right: 1rem;
}

.logo-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 4.5rem;
}

nav ul {
  float: right;
  /* margin-right: 20px; */
  margin-bottom: 0;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  position: unset;
  height: 100%;
}

.dropdown li {
  margin-right: 0;
}

.dropdown .dropbtn {
  font-size: 14px;
  text-align: start;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: max-content;
  z-index: 5;
  border-right: 1px solid #c5c5c1;
  /* height: 24.5rem; */
  /* top: 6.34rem; */
}
.dropdown-content ul {
  padding: 0;
}

.dropdown-content ul li {
  margin-bottom: 0;
  float: none;
  color: black;
  padding: 17px 20px 18px;
  border-bottom: 1px solid #c5c5c1;
  text-decoration: none;
  display: block;
  align-items: unset;
  font-size: 14px;
  text-align: left;
  cursor: pointer;
  width: 12rem;
  border-right: 1px solid #c5c5c1;
}

.dropdown-content ul li:hover {
  color: #003366;
  font-weight: 600;
}

.dropdown-content ul li:active {
  font-weight: 600;
  background: #f9f9fa;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Mega menu */

.mega-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: fit-content;
  z-index: 1;
  /* top: 6.34rem; */
  text-align: left;
  height: 24.5rem;
}
.mega-ul {
  display: flex;
}
.mega-ul img {
  padding: 2rem;
}

.mega-menu ul li {
  margin-bottom: 0;
  float: none;
  /* padding: 17px 20px 18px; */
  text-decoration: none;
  display: block;
  position: relative;
  left: 12rem;
  top: 1rem;
  text-align: left;
  font-size: 14px;
  width: 31rem;
  font-size: 14px;
  padding: 8px 0;
  color: #333;
}

.mega-menu li:hover {
  color: #003366;
  font-weight: 600;
}

.mega-menu li:active {
  font-weight: 600;
  background: #f9f9fa;
}

.dropdown:hover .mega-menu {
  display: block;
}

.img-text {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: calc(100% + -17.1rem);
  top: 64%;
  transform: translate(-12%, -56%);
  padding: 1rem;
  bottom: 0;
}

.img-text p {
  color: #fff !important;
  max-width: 17.2rem;
  cursor: pointer;
}
.img-text p:nth-child(2) {
  top: 16rem;
}

.button-23 i {
  font-size: 1.5rem;
}
.button-23 {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 9px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;

}
.button-23:hover{
  opacity: 0.5;
  transition: opacity .5s linear;
}

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 999;
}

.search-box {
  padding: 5px 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 48rem;
  height: fit-content;
}

.search-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  outline: none;
}
.close-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -2rem;
  padding-right: 0.8rem;
}

.close-icons i {
  font-size: 1rem;
}

.close-icons svg {
  width: 1.5rem;
  margin-left: 10px;
}

.search-btn {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.desktop-scroll.isScrollTop {
  display: none;
}
